<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1081790602560-b8676nc9olatk5utq1cre63b03vv4k27.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1081790602560-b8676nc9olatk5utq1cre63b03vv4k27</string>
	<key>API_KEY</key>
	<string>AIzaSyDRR3t9gEVs3TYpN9sctSKjXD_fYnnpJtY</string>
	<key>GCM_SENDER_ID</key>
	<string>1081790602560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eyecu</string>
	<key>PROJECT_ID</key>
	<string>eyecu-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>eyecu-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1081790602560:ios:5e3abb9ed0ef80f2d2aea5</string>
	<key>DATABASE_URL</key>
	<string>https://eyecu-mobile-app-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>